.git
.github
.vscode
.idea

**/node_modules
**/dist
**/.next
**/.next-e2e
**/coverage
**/playwright-report
**/test-results
**/*.log

.env
.env.*
!.env.example

apps/api/test
apps/api/evaluation
apps/api/performance
apps/web/e2e
**/*.spec.ts

docs
